.view {
    text-align: left;
    position: relative;
}
.view label {
    white-space: pre-line;
    word-break: break-all;
    padding: 15px 60px 15px 15px;
    margin-left: 45px;
    line-height: 1.2;
    display: block;
    text-align: left;
}
.view .toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    height: 40px;
}
.completed {
    color: #d9d9d9;
    text-decoration: line-through;
}
.delete {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    right: 0;
    height: 40px;
    width: 40px;
    font-size: 20px;
    color: #cc9a9a;
    transition: color 0.2s ease-out;
}
.delete:active {
    color: #9b3f3f;
}
.todo-list li:hover .delete {
    display: block;
}
.edit {
    position: relative;
    width: 100%;
    font-size: 24px;
    line-height: 1.4em;
    border: 0;
    outline: 0;
    padding: 13px 17px 13px 17px;
    border: 1px solid #999;
    box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
}